.loop__slide {
  overflow: hidden;
  width: 4000px; /* Ajusta el ancho fijo que prefieras */
  max-width: 100%; /* Evita que sea más grande que la pantalla */
}
.loop__slide > div {
  display: flex;
  animation: slide-to-left 20s linear infinite;
  -webkit-animation: slide-to-left 20s linear infinite;
}
.loop__slide > div > * {
  flex: 0 0 auto; // Evita que los logos se estiren o encojan
  padding: 0 31.5px; // Espaciado uniforme entre logos
}

@keyframes slide-to-left {
  100% {
    transform: translateX(-100%);
    -webkit-transform: translateX(-100%);
    -moz-transform: translateX(-100%);
    -ms-transform: translateX(-100%);
    -o-transform: translateX(-100%);
  }
}

/* Diferente duración según el tamaño del slider */
@media (max-width: 768px) {
  .loop__slide {
    width: 800px;
    max-width: 100%;
  }
  .loop__slide > div {
    display: flex;
    animation: slide-to-left 12s linear infinite;
    -webkit-animation: slide-to-left 12s linear infinite;
  }
}

@media (max-width: 480px) {
  .loop__slide > div {
    display: flex;
    animation: slide-to-left 7s linear infinite;
    -webkit-animation: slide-to-left 7s linear infinite;
  }
}
