@use "../../styles/base/mixins" as *;

.contact__form {
  background-image: url("https://res.cloudinary.com/ddqh0mkx9/image/upload/v1738349923/nisgh2gbe0ginddnsrko_opkrn1.webp");
  background-size: cover;
  background-position: center;
  padding: 6rem 8rem;

  .contact__form__container {
    display: flex;
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
  }

  form {
    margin-top: -180px;
    background: #f4f4f4;
    border-radius: 15px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;

    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);

    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem 1rem;
    gap: 2rem;

    width: 100%;
    max-width: 450px;

    h2 {
      font-size: 1.6rem;
      font-weight: 900;
      color: #7600b3;
      margin-bottom: 1rem;
      text-align: center;
    }

    input {
      background: #fff;
      width: 100%;
      border-radius: 50px;
      -webkit-border-radius: 50px;
      -moz-border-radius: 50px;
      -ms-border-radius: 50px;
      -o-border-radius: 50px;

      padding: 0.5rem 1rem;

      font-size: 1rem;
      font-weight: 600;
    }

    input::placeholder {
      color: #a6a6a6;
      opacity: 1;
    }

    button {
      margin-top: 1rem;
      cursor: pointer;
      font-weight: 600;
      background: #6f3bb4;
      color: #fff;
      font-size: 1rem;
      padding: 0.5rem 3rem;
      border-radius: 10px;
      -webkit-border-radius: 10px;
      -moz-border-radius: 10px;
      -ms-border-radius: 10px;
      -o-border-radius: 10px;
    }
  }
  .contact__texts {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    .contact__title {
      font-size: 3rem;
      font-weight: 900;
      color: #fff;
      text-align: center;
    }
    p {
      font-size: 1.5rem;
      color: #fff;
      font-weight: 400;
      text-align: center;
      max-width: 1250px;
      line-height: 1.2;
    }
  }
}

@include respond-to-max("laptop") {
  .contact__form {
    padding: 6rem 5%;
    .contact__form__container {
      flex-direction: column;

      form {
        order: 2;
        margin: 40px auto 0;
      }

      .contact__texts {
        order: 1;
        margin-top: -350px;

        .contact__title {
          color: #7600b3;
          width: 100%;
          font-size: clamp(16px, 6vw, 60px);
        }

        p {
          color: #7600b3;
          font-size: clamp(16px, 3vw, 30px);
        }
      }
    }
  }
}
