@use "../../styles/base/mixins" as *;

.products__section {
  background: #f4f4f4;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 3rem 3rem 10rem;

  .products__title {
    font-size: 2.5rem;
    font-weight: 900;
    color: #606060;
    margin-bottom: 3rem;
  }

  .products__container {
    margin-bottom: 3rem;
    display: flex;
    gap: 2rem;

    img {
      height: 22rem;
    }
  }

  p {
    font-size: 1rem;
    color: #606060;
    font-weight: 400;
    text-align: center;
    max-width: 1250px;
    line-height: 1.2;
    text-wrap: balance;
  }
}

@include respond-to-max("laptop") {
  .products__section {
    padding: 3rem 5% 10rem;
    .products__title {
      font-size: clamp(16px, 5vw, 30px);
      text-align: center;
    }
    .products__container {
      flex-direction: column;

      img {
        object-fit: contain;
      }
    }
  }
}
