@use "../../../styles/components/industriesSection" as *;
@use "../../../styles/base/mixins" as *;

.industries__section {
  // Variaciones específicas para `rollos-turnos`
  h2 {
    font-size: 1.8rem;
    text-transform: uppercase;

    @include respond-to-max("laptop") {
      font-size: clamp(16px, 5vw, 30px);
    }
  }
}
