@import "../../styles/base/mixins";

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem 5%;
  background-color: transparent;
  color: #fff;
  font-size: 1rem;
  font-weight: 800;
  text-transform: uppercase;
  letter-spacing: 0.1rem;

  position: relative;
  display: flex;
  gap: 4rem;

  @include respond-between("tablet", "laptop") {
    font-size: 0.5rem;
    padding: 1rem 2%;
  }
  @include respond-between("laptop", "desktop-lg") {
    font-size: 0.8rem;
    padding: 2rem 2%;
  }

  .nav__links {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex: 2 1 auto;

    @include respond-between("tablet", "laptop") {
      flex: 2 1 40%;
    }
  }

  .header__right {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex: 1 1 auto;

    @include respond-between("tablet", "laptop") {
      flex: 2 1 50%;
    }
  }

  a {
    img {
      height: 3rem;
    }

    .search__icon {
      font-size: 1.5rem;
      color: #fff;
    }
  }

  a.logo__container {
    display: flex;
    justify-content: center;
    margin: 0 2rem;

    @include respond-between("laptop", "desktop-lg") {
      margin: 0 0.5rem;
    }

    .logo {
      height: 4rem;
    }
  }

  .phone__btn {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    padding: 0.5rem 2rem;
    background-color: transparent;
    cursor: pointer;
    color: #fff;
    border: 3px solid #ae00ff;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 0.1rem;
    border-radius: 2rem;
    -webkit-border-radius: 2rem;
    -moz-border-radius: 2rem;
    -ms-border-radius: 2rem;
    -o-border-radius: 2rem;

    .phone__icon {
      color: #ae00ff;
      font-size: 1.2rem;
    }
  }
}

@include respond-to-max("laptop") {
  .header {
    font-size: clamp(2px, 2vw, 16px);

    padding: 20px 15px;
    .nav__links {
      display: none;
    }
    a.logo__container {
      margin: 0px;
      img {
        max-height: 45px;
      }
    }
    a.phone__btn {
      padding: 5px 20px;
      width: max-content;

      .phone__icon {
        font-size: clamp(2px, 2vw, 16px);
      }
    }
    .header__right {
      gap: 10px;
      max-width: 300px;
      a:first-child {
        display: none;
      }
    }

    a {
      .search__icon {
        color: #fff;
        font-size: clamp(2px, 4vw, 30px);
      }
    }

    /* menu  */

    .menu__icon {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      width: clamp(2px, 4vw, 30px);
      height: clamp(2px, 3vw, 20px);
      cursor: pointer;

      span {
        display: block;
        height: 3px;
        width: 100%;
        background: #fff;
        transition: all 0.3s ease;
      }
    }

    .menu__icon.open span:first-child {
      transform: rotate(45deg) translate(5px, 7px);
      -webkit-transform: rotate(45deg) translate(5px, 7px);
      -moz-transform: rotate(45deg) translate(5px, 7px);
      -ms-transform: rotate(45deg) translate(5px, 7px);
      -o-transform: rotate(45deg) translate(5px, 7px);
    }

    .menu__icon.open span:last-child {
      transform: rotate(-45deg) translate(5px, -7px);
      -webkit-transform: rotate(-45deg) translate(5px, -7px);
      -moz-transform: rotate(-45deg) translate(5px, -7px);
      -ms-transform: rotate(-45deg) translate(5px, -7px);
      -o-transform: rotate(-45deg) translate(5px, -7px);
    }

    .nav__links {
      display: none;
      flex-direction: column;
      position: absolute;
      top: 100px;
      left: 0;
      width: 100%;
      background: white;
      padding: 20px;
      box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);

      color: #000;
    }

    .showMenu {
      display: flex;
    }
  }
}
