@use "../../../styles/components/heroSection" as *;
@use "../../../styles/base/mixins" as *;

.hero {
  .hero__content {
    // Variaciones específicas para `turnero-turnoexpress`

    .hero__img {
      height: 80%;

      @include respond-to-max("laptop") {
        width: 80vw;
        height: auto;
        max-width: 500px;
      }
    }
  }
}
