@use "../../../styles/components/heroSection" as *;
@import "../../../styles/base/mixins";

.hero {
  .hero__content {
    // Variaciones específicas para `turnero-turnoexpress`

    .hero__img {
      height: 80%;

      @include respond-to-max("laptop") {
        width: 80vw;
        height: auto;
      }
    }
  }
}
