.articulo__container {
  display: flex;
  gap: 20px;
  justify-content: center;
}

.articulo__section {
  max-width: 1000px;
  width: 100%;
  margin: 0;
  padding: 20px;
  margin-bottom: 120px;
}

.articulo__titulo {
  font-size: 28px;
  font-weight: bold;
  text-align: center;
  color: #606060;
}

.articulo__subtitulo {
  font-size: 22px;
  font-weight: bold;
  margin: 15px 0;
  color: #606060;
  margin-top: 2rem;
}

.articulo__texto {
  font-size: 16px;
  line-height: 1.5;
  color: #606060;
}

.articulo__imagen {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #713fb0;
  margin: 20px 0;

  img {
    max-width: 100%;
    height: auto;
    object-fit: cover;
  }
}

.articulo__lista {
  padding-left: 20px;

  li {
    font-size: 16px;
    line-height: 1.5;
    color: #606060;
    margin-bottom: 5px;
  }
}

.articulo__footer {
  display: flex;
  flex-direction: column;

  padding: 16px 0;
  font-size: 14px;
  color: #666;
  width: 100%;
}

.social__section {
  padding: 1rem 0;
  display: flex;
  align-items: center;
  gap: 12px;
  margin-bottom: 12px; // Separación con la siguiente sección

  span {
    font-weight: bold;
    color: #6a0dad; // Color similar al de la imagen
  }
}

.social__icons {
  display: flex;
  align-items: center;
  gap: 8px;
}

.social__icon {
  width: auto;
  height: 1rem;
  cursor: pointer;
  transition: transform 0.2s ease-in-out;

  &:hover {
    transform: scale(1.1);
  }
}

.articulo__info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  padding: 10px 0;
  margin-top: 10px;
  width: 100%;
  font-size: 14px;
  color: #666;

  .publicado-por {
    text-align: left;
    flex: 1; // Ocupa el espacio disponible a la izquierda
  }

  .publicado-fechas {
    display: flex;
    flex-direction: column;
    text-align: right;
  }
}

.articulos__similares {
  display: flex;
  flex-direction: column;
  width: 100%;
  min-width: 500px;
  max-width: 500px;
  background: #f1f1f1;
  padding: 4rem;
  position: sticky;
  top: 0;
  align-self: flex-start;

  > h3 {
    font-size: 1.5rem;
    margin-bottom: 4rem;
    font-weight: 900;
    color: #606060;
    text-align: center;
  }

  .articulos__similares__container {
    display: flex;
    flex-direction: column;
    gap: 2rem;

    .blog__card {
      .card__content {
        .card__title {
          font-size: 0.5rem;
        }
      }
    }
  }
}
