@use "../../../styles/components/productsSection" as *;

.products__section {
  // Variaciones específicas para `turno-master`

  h2 {
    margin-bottom: 4rem;
  }

  .products__container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    width: 85%;
    gap: 20px;
    justify-items: center;
    align-items: center;

    @media (max-width: 1600px) {
      grid-template-columns: repeat(2, 1fr);
    }
    @media (max-width: 1200px) {
      grid-template-columns: repeat(2, 1fr);
    }

    @media (max-width: 768px) {
      grid-template-columns: repeat(1, 1fr);
    }
  }

  .btn__go_to_blog {
    color: #394751;
    font-weight: 700;
    line-height: 1.2;
    font-size: 1.5rem;
    display: flex;
    align-items: center;
    justify-content: center;

    .icon__btn {
      color: #b627ff;
      margin-top: 2px;
      margin-left: 5px;
    }
  }
}
