@use "../../../styles/components/productsSection" as *;
@use "../../../styles/base/mixins" as *;

.products__section {
  p {
    font-size: 2rem;
    font-weight: 400;
    margin-bottom: 4rem;
  }
  .products__container {
    margin-bottom: 0;
    gap: 4rem;
    img {
      height: 410px;
      padding: 1rem;
    }
  }
}

@include respond-to-max("laptop") {
  .products__section {
    h2 {
      font-size: clamp(16px, 5vw, 30px);
      text-align: center;
    }

    p {
      font-size: clamp(16px, 4vw, 25px);
      text-align: center;
    }

    .products__container {
      gap: 20vw;
      img {
        height: auto;
        width: 80vw;
        padding: 0;
      }
    }
  }
}
