@use "../../../styles/components/heroSection" as *;
@use "../../../styles/base/mixins" as *;

.hero {
  .hero__content {
    .central__container {
      position: relative;
      width: 100%;
      height: 100%;
      max-width: 90%;

      display: flex;
      align-items: center;
      justify-content: center;

      @media (min-width: 500px) and (max-width: 1700px) {
        max-width: 95%;
      }
    }

    .hero__img {
      width: 60%;
      height: auto;
      max-height: 500px;
      max-width: 1000px;
    }

    .hero__text {
      height: max-content;
      margin-top: 0;
      margin-left: -4rem;

      h1 {
        font-size: 2.5rem;
        font-weight: 700;
        line-height: 1;

        @media (min-width: 500px) and (max-width: 1700px) {
          font-size: 2rem;
        }
      }

      p {
        font-size: 2rem;
        font-weight: 500;
        @media (min-width: 500px) and (max-width: 1700px) {
          font-size: 1rem;
        }
      }
    }

    .hero__text__mobile {
      display: none;

      @include respond-to-max("laptop") {
        display: flex;
        flex-direction: column;
        align-items: center;

        margin-top: 2rem;
        h1 {
          font-size: clamp(16px, 5vw, 30px);
          text-align: center;
          text-wrap: balance;

          width: 85vw;

          color: #fff;
          font-weight: 700;
          line-height: 1.2;

          margin-bottom: 2rem;
        }

        p {
          font-size: clamp(16px, 2.5vw, 20px);
          text-align: center;
          text-wrap: balance;

          width: 70vw;

          margin-top: 0.8rem;

          color: #fff;
          margin-bottom: 2rem;
          font-weight: 400;
        }

        .hero__btn {
          cursor: pointer;
          font-weight: 600;
          background: #be00ff;
          color: #fff;
          font-size: 1rem;
          padding: 0.5rem 1rem;
          border-radius: 2rem;
          -webkit-border-radius: 2rem;
          -moz-border-radius: 2rem;
          -ms-border-radius: 2rem;
          -o-border-radius: 2rem;
        }
      }
    }
  }
}

@include respond-to-max("laptop") {
  .hero {
    .hero__content .central__container {
      display: flex;
      flex-direction: column;
      .hero__img {
        width: 80vw;
        height: auto;
        max-width: 500px;
      }

      .hero__text {
        display: none;
      }
    }
  }
}
