@use "../../../styles/components/heroSection" as *;
@use "../../../styles/base/mixins" as *;

.hero {
  .hero__content {
    // Variaciones específicas para `enfermeria`

    .hero__img {
      width: 80%;
      max-width: 900px;
      height: auto;
      max-height: 80vh;
      align-self: flex-end;

      @media (min-width: 500px) and (max-width: 1800px) {
        width: 60%;

        /* max-width: 800px !important; */
      }
      @include respond-to-max("laptop") {
        align-self: auto;
        width: 80vw;
        height: auto;
        max-width: 500px;
      }
    }

    .hero__text {
      margin-left: 0;
    }
  }
}
