@use "../../../styles/components/heroSection" as *;
@use "../../../styles/base/mixins" as *;

.hero {
  .hero__content {
    justify-content: space-between;
    padding: 4rem 0;

    @include respond-to-max("laptop") {
      justify-content: center;
    }

    .hero__img {
      height: auto;
      /* width: 60%; */
      max-width: 60%;

      @include respond-to-max("laptop") {
        align-self: auto;
        width: 80vw;
        height: auto;
      }
    }

    .hero__text {
      margin-right: 10%;
      @include respond-to-max("laptop") {
        margin-right: 0;
      }
    }
  }
}
