@use "../../../styles/components/benefitsSection" as *;
@use "../../../styles/base/mixins" as *;

.benefits__section {
  // Variaciones específicas para `rollos-turnos`

  position: relative;
  z-index: 2;

  .benefits__title {
    font-size: 3rem;
    @include respond-to-max("laptop") {
      font-size: clamp(16px, 10vw, 80px);
    }
  }

  ul {
    li {
      > div {
        display: flex;
        flex-direction: column;
        line-height: 1.2;
        span {
          font-size: 1rem;
        }
      }
    }
  }
}
