@use "../../styles/base/mixins" as *;

.container__slider__hero {
  background-image: url("https://res.cloudinary.com/ddqh0mkx9/image/upload/v1738349921/jlxxsnlercoj0nihz4am_udppso.webp");
  background-size: cover;
  background-position: center;
  height: 100dvh;

  /* Personalizar los puntitos de paginación */
  :global(.swiper-pagination) {
    bottom: 150px !important;
    @include respond-to-max("laptop") {
      bottom: 90px !important;
    }
  }
  :global(.swiper-pagination-bullet) {
    width: 12px;
    height: 12px;
    background-color: rgba(255, 255, 255, 0.6);
    margin: 0 5px;
    transition: all 0.3s ease;
    top: -25px;
    @include respond-to-max("laptop") {
      width: 9px;
      height: 9px;
    }
  }

  :global(.swiper-pagination-bullet-active) {
    background-color: #ffffff;
  }

  /* Personalizar las flechas */
  :global(.swiper-button-prev),
  :global(.swiper-button-next) {
    color: white; // Color de las flechas
    width: 50px;
    height: 50px;
    transition: all 0.3s ease;
  }

  /* Posicionar las flechas dentro del slider */
  :global(.swiper-button-prev) {
    left: 20px;
    top: calc(50% - 128px);
  }

  :global(.swiper-button-next) {
    right: 20px;
    top: calc(50% - 128px);
  }

  @include respond-to-max("laptop") {
    :global(.swiper-button-prev),
    :global(.swiper-button-next) {
      display: none;
      &::after {
        font-size: 30px; // Aumenta el tamaño de las flechas
      }
    }

    :global(.swiper-button-prev) {
      left: 10px;
      top: calc(50% - 70px);
    }

    :global(.swiper-button-next) {
      right: 10px;
      top: calc(50% - 70px);
    }
  }
}
