@use "../../../styles/components/relatedProducts" as *;

.related__products {
  // Variaciones específicas para `llamador-meseros`

  .related__products__container {
    .related__products__card {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
  }

  .related__products__specs {
    padding: 3rem 5% 8rem;

    ul {
      display: flex;
      justify-content: center;
      gap: 3rem;

      li {
        display: flex;
        align-items: center;
        gap: 1rem;

        img {
          width: 30px;
          object-fit: contain;
        }

        p {
          font-size: 1rem;
          color: #606060;
          font-weight: 600;
          line-height: 1.2;
        }
      }
    }
  }
}
