@use "../../../styles/components/productsSection" as *;
@use "../../../styles/base/mixins" as *;

.products__section {
  // Variaciones específicas para `turno-master`

  padding-bottom: 2rem;

  p {
    font-size: 2rem;
    font-weight: 400;
    margin-bottom: 4rem;
  }

  .card__btn {
    margin-top: 3rem;
    cursor: pointer;
    font-weight: 600;
    background: #ac00ff;
    width: max-content;
    color: #fff;
    font-size: 1.2rem;
    padding: 0.2rem 1rem;
    border-radius: 2rem;
    -webkit-border-radius: 2rem;
    -moz-border-radius: 2rem;
    -ms-border-radius: 2rem;
    -o-border-radius: 2rem;
  }
  .products__container {
    margin-top: 4rem;
    gap: 4rem;
    img {
      height: 410px;
      padding: 1rem;
    }
  }
}

@include respond-to-max("laptop") {
  .products__section {
    padding: 3rem 5% 10rem;
    h2 {
      font-size: clamp(16px, 5vw, 30px);
      text-align: center;
    }

    .card__btn {
      font-size: clamp(16px, 5vw, 30px);
    }
    .products__container {
      flex-direction: column;
      margin-top: 3rem;
      margin-bottom: 0;

      img {
        object-fit: contain;
        height: auto;
        width: 80vw;
      }
    }
  }
}
