@use "../../../styles/components/benefitsSection" as *;

.benefits__section {
  // Variaciones específicas para `rollos-termicos`

  ul {
    li {
      max-width: 800px;
      font-size: 1.8rem;

      > div {
        display: flex;
        flex-direction: column;
        span {
          font-size: 1.2rem;
        }
      }
    }
  }
}
