@use "../../../styles/components/relatedProducts" as *;

.related__products {
  // Variaciones específicas para `rollos-termicos`

  .related__products__container {
    .related__products__card:first-child .card__info {
      padding-left: 15px;
      padding-bottom: 0;

      img {
        width: 100%;
        height: 250px;
        object-fit: cover;
        object-position: 90% center;
      }
    }
  }
}
