@use "../../../styles/components/heroSection" as *;
@use "../../../styles/base/mixins" as *;

.hero {
  .hero__content {
    .hero__text {
      p {
        font-size: 2.5rem;
        color: #fff;
        margin-bottom: 2rem;
        font-weight: 500;
      }

      @include respond-to-max("laptop") {
        display: none;
      }
    }

    @include respond-to-max("laptop") {
      justify-content: end;
      height: calc(100dvh - 70px);
    }

    .hero__img {
      height: 85%;
      align-self: flex-end;
      max-width: 800px;
      @include respond-to-max("laptop") {
        display: none;
      }
    }
    .hero__img__mobile {
      display: none;

      @include respond-to-max("laptop") {
        display: block;
        width: 80vw;
        height: auto;
        max-width: 500px;
      }
    }
  }

  .hero__text__mobile {
    display: none;

    @include respond-to-max("laptop") {
      display: flex;
      flex-direction: column;
      align-items: center;
      h1 {
        font-size: clamp(16px, 5vw, 30px);
        text-align: center;
        text-wrap: balance;

        color: #fff;
        font-weight: 700;
        line-height: 1.2;
      }

      p {
        font-size: clamp(16px, 2.5vw, 20px);
        text-align: center;
        text-wrap: balance;

        width: 70vw;

        margin-top: 1rem;

        color: #fff;
        margin-bottom: 2rem;
        font-weight: 400;
      }

      .hero__btn {
        margin-bottom: 2rem;
      }
    }
  }
}
