@use "../../../styles/components/heroSection" as *;

.hero {
  .hero__content {
    .hero__img {
      height: 75vh;
      max-width: none;
      max-height: 700px;
    }
    .hero__text {
      margin-left: 0;
    }
  }
}
