@use "../../../styles/components/heroSection" as *;
@use "../../../styles/base/mixins" as *;

.hero {
  .hero__content {
    .hero__img {
      height: 75vh;
      max-width: none;
      max-height: 700px;

      @include respond-to-max("laptop") {
        width: 80vw;
        height: auto;
        max-height: none;
      }
    }
    .hero__text {
      margin-left: 0;
    }
  }
}
